.App {
  text-align: center;
}

.image {
  background-image: url("./cargoship.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 350px;
  width: 100%;
}

.main-content {
  margin-top: 100px;

  position: absolute;
  top: 15px;
  left: 520px;
  width: 550px;
  height: 100px;
}
